
/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4ecec;
    color: #000000;
}

/* Navigation Bar */
.navbar {
    background-color: #111;
    overflow: hidden;
    color: white;
    padding: 10px 20px;
}

.navbar a {
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar h1 {
    float: left;
}

.streak, .learning, .recommendations, .personalize {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    
}

.weekly-streak {
    font-weight: bold;
    font-size: 18px;
}
/* Căn chỉnh biểu tượng và văn bản */
.streak i, .progress i, .week i, .current-streak i {
    margin-left: 8px; /* Khoảng cách giữa văn bản và biểu tượng */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
  }
  
  /* Thêm phong cách cho biểu tượng trong các liên kết hoạt động */
  .activity-link i {
    margin-left: 5px;
  }
  
  /* Tùy chỉnh màu sắc và kích thước biểu tượng */
  .fa-calendar-alt, .fa-bell, .fa-fire, .fa-trophy, .fa-book, .fa-check-circle, .fa-arrow-right {
    color: #e60000; /* Màu sắc biểu tượng */
    font-size: 16px; /* Kích thước biểu tượng */
  }
  
  


/* Image and Video Section */
.image-container, .video-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img, .video-container video {
    width: 500px;
    height: auto;
}
personalize-container {
    text-align: center;
    background-color: white;
    padding: 40px 0 ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0; /* Thêm dòng này để căn giữa */
    
}

.personalize-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.personalize-container p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.personalize-btn {
    background-color: #000;color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.personalize-btn:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .course, .recommend-card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    .course, .recommend-card {
        width: 100%;
    }

    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .current-streak, .progress {
        flex-direction: column;
        align-items: flex-start;
    }
}


/* Footer Section */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
